@import "blocks/header.scss";
@import "blocks/fonts.scss";
@import "blocks/buttons.scss";
@import "blocks/search.scss";
@import "blocks/aside-left.scss";
@import "blocks/suggestions.scss";
@import "blocks/welcome-aside.scss";
@import "blocks/global__sale.scss";

.firstscreen {
    position: relative;
    width: 1140px;
    left: 50%;
    transform: translateX(-50%);
}