.welcome-aside {
    position: absolute;
    top: 55px;
    right: 0;
    width: 260px;
    padding: 15px 0;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    .container {
        padding: 0;
    }
    &__registration {
        width: 100%;
        height: 165px;
        background: url('https://ae01.alicdn.com/kf/He1ffbc1d340f4be8a0a6d07641c58180t.png_.webp') center no-repeat;
        padding-top: 15px;
        &__image {
            width: 48px;
            height: 48px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &__text {
            font-size: 15px;
            font-weight: 700;
            color: #000;
            text-align: center;
            cursor: pointer;
            text-align: center;
            margin-top: 10px;
        }
        &__links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 32px;
        }
        &__join {
            border: none;
            border-radius: 18px;
            cursor: pointer;
            background-image: linear-gradient(94deg,#ff0a0a,#ff7539);
            padding: 8px 38px;
            color: white;
            span {
                font-size: 14px;
                font-weight: 700;
                text-align: center;
                color: white;
            }
        }
        &__signin {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            border-radius: 18px;
            cursor: pointer;
            color: #222;
        }
    }
    &__discounts {
        position: relative;
        width: 83%;
        margin: 0 auto;
        margin-top: 32px;
        height: 290px;
        background: url('https://ae01.alicdn.com/kf/He0cfef9ee60544b79b5950d1a254f22dU.png_.webp') no-repeat;
        padding: 15px;
        border-radius: 8px;
        &__text1 {
            color: #fff;
        }
        &__text2 {
            margin-top: 10px;
            font-weight: 700;
            font-size: 16px;
            color: #fff;
        }
        &__coupon {
            display: block;
            width: 196px;
            margin: 0 auto;
            margin-top: 15px;
            position: relative;
            &__money {
                position: absolute;
                color: white;
                top: 49%;
                transform: translateY(-50%);
                left: 20%;
            }
        }
        &__slicker {
            display: block;
            width: 188px;
            position: absolute;
            bottom: -10px;
            &-item {
                position: relative;
                width: 91px;
                margin: 0 2px;
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 91px;
                    border-radius: 8px;
                }
                &__price {
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: 700;
                    font-size: 12px;
                    background-image: linear-gradient(94deg,#ff0a0a,#ff7539);
                    border-radius: 10px;
                    padding: 0 8px;
                    color: white;
                }
            }
            .slick-arrow {
                display: none;
            }
        }
    }
}